<div class="h-full w-full">
  <div id="header" class="w-full h-[10%] bg-blue-400">
    <button (click)="openDialog()">Create Comb</button>
  </div>
  <div id="content" class="w-full h-[90%] flex flex-row gap-2">
    <div *ngFor="let team of teamArray; let i = index">
      <div>{{team.getName()}}</div>
    <div class="flex flex-row" *ngFor="let lane of team.iterable(); let j = index">
      <div *ngFor="let champ of lane">
        <div class="w-[10vh] h-[10vh] relative">
          <img
            class="w-full h-full"
            src="../assets/images/{{ champ }}Square.png"
            alt=""
          />
          <div (click)="deleteChamp(champ, team.getId())" class="absolute w-[20%] h-[20%] top-0 right-0 text-red-600 text-3xl hover:c cursor-pointer">X</div>
        </div>
      </div>
    </div>
    <div (click)="deleteMe(team)">Delete</div>
  </div>
  </div>
</div>
